<body>
    <a id="b">
        About
    </a>
    <ul style="padding-bottom: 30px; ">
        <a id="rule">Information is Power!</a>
        <a class="disp">Information is power and with great power comes great responsibility, and we here in Quiz Zone are present to test your knowledge and to provide you with the statistics of your performance and your accuracy as well. So, we have come up with the initiative to make people learn and widen their area of knowledge of what they know about and what they don't.</a>
        <br>
        <a class="disp">Please join us and dive deeper into the ocean of knowledge and wisdom and test yourself in our tested platfrom.</a>
    </ul>
</body>
