<body>
    <a id="b">
        Contact Us
    </a>
    <form>
        Name :  <input type="text"> <br><br>
        E-mail : <input type="text"> <br><br>
        D.O.B : <input type="date"> <br><br>
        Do you want to recieve daily updates? 
        <input type="checkbox"><br><br>
        Rate our platform 
        <hr>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Poor
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Good
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Excellent
            </label>
        </div>

        <br><br>
        <button class="btn btn-warning" type="submit">Our Team Will contact you!</button>
    </form>
</body>

