.tnav{
    background-color: rgb(26, 25, 25);
    overflow: hidden;
}
.tnav a{
    float: left;
    display: block;
    color: #e9e5e5;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
}
#fb{
    float: right;
    padding: 14px 16px;
}
.tnav a:hover{
    background-color: rgb(100, 196, 92);
    color: black;
}
#quiz{
    background-color: rgb(62, 92, 173);
    color: rgb(248, 246, 246);
    font-family: 'Gill Sans MT';
}
